<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
 </style>
  </head>
  <body>
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
               
                   <h1>welcome home </h1>
                   <button><a href="customer_signin/">sign up<a/></button
                    
               
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br>

  </body>
</html>
