<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></link>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></link>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href=""></link>
    <style>
      body{color: #000;overflow-x: hidden;height: 100%;background-image: url("https://i.imgur.com/GMmCQHC.pn");background-repeat: no-repeat;background-size: 100% 100%}.card{padding: 30px 40px;margin-top: 60px;margin-bottom: 60px;border: none !important;box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)}.blue-text{color: #00BCD4}.form-control-label{margin-bottom: 0}input, textarea, button{padding: 8px 15px;border-radius: 5px !important;margin: 5px 0px;box-sizing: border-box;border: 1px solid #ccc;font-size: 18px !important;font-weight: 300}input:focus, textarea:focus{-moz-box-shadow: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;border: 1px solid #00BCD4;outline-width: 0;font-weight: 400}.btn-block{text-transform: uppercase;font-size: 15px !important;font-weight: 400;height: 43px;cursor: pointer}.btn-block:hover{color: #fff !important}button:focus{-moz-box-shadow: none !important;-webkit-box-shadow: none !important;box-shadow: none !important;outline-width: 0}
 </style>
  </head>
  <body>
    <div class="container-fluid px-1 py-5 mx-auto">
      <div class="row d-flex justify-content-center">
          <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
              <h3>signup here</h3>
              <div class="card">
                    <form class="form-card" method="post">
                        {% csrf_token %}
                        {% comment %} {{ addressForm.media }}
                        {{ customerForm.non_form_errors }}
                        {{ userF.non_form_errors }} {% endcomment %}
                           <div class="row justify-content-between text-left">
                              <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Username<span class="text-danger"> *</span></label> {% render_field userForm.username class="form-control" placeholder="Username" %} </div>
                              {% if userForm.username.errors %}
                              <center><p class="errors">{{ userForm.username.errors }}</p>
                                  {% endif %}</center>
                              <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Password<span class="text-danger"> *</span></label> {% render_field userForm.password class="form-control" placeholder="Password"  %} </div>
                              {% if userForm.username.errors %}
                            <center><p class="errors">{{ userForm.password.errors }}</p>
                                {% endif %}</center>
                          </div>
                          <div class="row justify-content-between text-left">
                              <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">email<span class="text-danger"> *</span></label> {% render_field userForm.email class="form-control" placeholder="email" %} </div>
                              <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Phone number<span class="text-danger"> *</span></label> {% render_field expertForm.phone_number class="form-control" placeholder="phone number" %} </div>
                              
                              
                          </div>
                          <div class="row justify-content-between text-left">
                              <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">county<span class="text-danger"> *</span></label>   {% render_field expertForm.county class="form-control" placeholder="county" %}</div>
                              <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">sub county<span class="text-danger"> *</span></label>{% render_field expertForm.sub_county class="form-control" placeholder="sub county" %} </div>
    
                          </div>
                          <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">local town<span class="text-danger"> *</span></label>{% render_field expertForm.local_town class="form-control" placeholder="local town" %} </div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Google map<span class="text-danger"> *</span></label>{% render_field expertForm.google_map class="form-control" placeholder="google map" %} </div>
                            
    
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Logo<span class="text-danger"> *</span></label>{% render_field expertForm.logo class="form-control" placeholder="logo" %} </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">photo<span class="text-danger"> *</span></label>{% render_field expertForm.photo class="form-control" placeholder="logo" %} </div>
    
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">dealings list<span class="text-danger"> *</span></label>   {% render_field expertForm.dealing_list class="form-control" placeholder="county" %}</div>
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">dealings description<span class="text-danger"> *</span></label>{% render_field expertForm.dealings class="form-control" placeholder="describe your services" %} </div>
  
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">liscences<span class="text-danger"> *</span></label>   {% render_field expertForm.liscences class="form-control" placeholder="county" %}</div>
  
                        </div>
                          <div class="row justify-content-end">
                              <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary">signup</button> </div>
                              <input type="submit" value="submit">
                          </div> 
                      </form>
              </div>
          </div>
      </div>
    </div>

    <script>
      function validate(val) {
        v1 = document.getElementById("fname");
        v2 = document.getElementById("lname");
        v3 = document.getElementById("email");
        v4 = document.getElementById("mob");
        v5 = document.getElementById("job");
        v6 = document.getElementById("ans");
    
        flag1 = true;
        flag2 = true;
        flag3 = true;
        flag4 = true;
        flag5 = true;
        flag6 = true;
    
        if(val>=1 || val==0) {
            if(v1.value == "") {
                v1.style.borderColor = "red";
                flag1 = false;
            }
            else {
                v1.style.borderColor = "green";
                flag1 = true;
            }
        }
    
        if(val>=2 || val==0) {
            if(v2.value == "") {
                v2.style.borderColor = "red";
                flag2 = false;
            }
            else {
                v2.style.borderColor = "green";
                flag2 = true;
            }
        }
        if(val>=3 || val==0) {
            if(v3.value == "") {
                v3.style.borderColor = "red";
                flag3 = false;
            }
            else {
                v3.style.borderColor = "green";
                flag3 = true;
            }
        }
        if(val>=4 || val==0) {
            if(v4.value == "") {
                v4.style.borderColor = "red";
                flag4 = false;
            }
            else {
                v4.style.borderColor = "green";
                flag4 = true;
            }
        }
        if(val>=5 || val==0) {
            if(v5.value == "") {
                v5.style.borderColor = "red";
                flag5 = false;
            }
            else {
                v5.style.borderColor = "green";
                flag5 = true;
            }
        }
        if(val>=6 || val==0) {
            if(v6.value == "") {
                v6.style.borderColor = "red";
                flag6 = false;
            }
            else {
                v6.style.borderColor = "green";
                flag6 = true;
            }
        }
    
        flag = flag1 && flag2 && flag3 && flag4 && flag5 && flag6;
    
        return flag;
    }
    </script>
                  
  </body>
</html>
